*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: sans-serif;
}
.cabecalho {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.cabecalho-menu {
    display: flex;
    gap: 20px;
}

.cabecalho-menu-item {
    font-size: 18px;
}