* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: sans-serif;
}

.cabecalho {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.cabecalho-menu {
    display: flex;
    gap: 20px;
}

.cabecalho-menu-item {
    font-size: 18px;
}

.rodape {
    position: absolute;
    bottom: 0;
    width: 100%;
}

.rodape-conteudo {
    gap: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.rodape-icons {
    font-size: 24px;
    margin: 10px;
}

#emailConteudo {
    width: 20%;
    padding: 10px;
    font-size: 16px;
    margin-bottom: 10px;
}

.botao-email {
    margin-bottom: 9px;
    padding: 10px 20px;
    font-size: 18px;
}