@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Sarala&display=swap');

/* Estilização de todos os Intens */
* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: sans-serif;
}

/* Estilização do Header */
.cabecalho {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 2px;
    background-color: #efdeff;
    box-shadow: 0px 5px 8px rgba(74, 74, 74, 0.1);
}

.cabecalho-menu {
    display: flex;
    gap: 20px;
}

.cabecalho-menu-item {
    font-family: 'Sarala', sans-serif;
    font-size: 20px;
    font-weight: 600;
    color: #765a90;
}

.cabecalho-imagem {
    height: 95px;
}

/* Estilização do Footer */
.rodape {
    position: absolute;
    bottom: 0;
    width: 100%;
}

.rodape-conteudo {
    gap: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.rodape-copy {
    font-family: 'Lucida Sans Unicode';
    margin-bottom: 6.5px;
}

.roda-icons {
    display: inline-block;
    margin-bottom: 7px;
}

.rodape-conteudo-escrito {
    margin-bottom: 7.1px;
}

.roda-icons a {
    text-decoration: none;
    display: inline-flex;
    align-items: center;
    margin-right: 10px;
    color: #24292e;
    background-color: #ffffff;
    padding: 5px;
    border-radius: 50%;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.roda-icons a:hover {
    background-color: rgba(36, 41, 46, 0.8);
    color: #fff;
}

/* Estilização da parte do E-Mail */
#emailConteudo {
    width: 20%;
    padding: 10px;
    font-size: 16px;
    margin-bottom: 10px;
}

.botao-email {
    margin-bottom: 9px;
    padding: 8px 8px;
    font-size: 18px;
    border-radius: 10px;
}

/* Responsividade da Página */
@media screen and (max-width: 450px) {
    .cabecalho {
        flex-direction: column;
        align-items: flex-start;
        padding: 10px;
    }

    .cabecalho-menu {
        flex-direction: column;
        gap: 10px;
    }

    .menu-direita {
        align-self: flex-end;
    }

    .cabecalho-menu-item {
        font-size: 16px;
    }

    .rodape {
        position: fixed;
        bottom: 0;
        width: 100%;
        padding: 10px;
    }

    .rodape-conteudo {
        flex-direction: column;
        gap: 5px;
        padding: 5px;
    }

    .rodape-copy {
        order: 2;
    }

    .roda-icons {
        order: 1;
    }

    #emailConteudo,
    .botao-email,
    .rodape-conteudo-escrito {
        display: none;
    }
}

@media screen and (max-width: 999px) {}

/* Estilização das páginas de 2 à 4 */
body {
    background-color: #ffffff;
}

.conteudo {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
    margin-top: 100px;
}

.conteudo-principal {
    text-align: center;
}

.conteudo-principal-titulo {
    font-family: 'Righteous', cursive;
    font-weight: 400;
    font-size: 45px;
    color: #765a90;
    padding: 20px;
}

.conteudo-principal-informe {
    padding: 10px;
    font-family: 'Sarala', sans-serif;
    font-size: 20px;
    color: #765a90;
    font-weight: 450;
}

input {
    border: 1px solid #ccc;
    padding: 5px;
    font-size: 15px;
    border-radius: 10px;
}

#verificarBotao {
    margin-bottom: 9px;
    padding: 4.2px 4.2px;
    font-size: 15px;
    border-radius: 10px;
}