
body {
    font-family: sans-serif;
    text-align: center;
}

#frutas {
    margin: 20px;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    font-weight: 550;
    margin: 5px;
    padding: 10px;
}